<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="default-src *  data: blob: filesystem: about: ws: wss: 'unsafe-inline' 'unsafe-eval' 'unsafe-dynamic';
script-src * data: blob: 'unsafe-inline' 'unsafe-eval';
connect-src * data: blob: 'unsafe-inline';
img-src * data: blob: 'unsafe-inline';
frame-src * data: blob: ;
style-src * data: blob: 'unsafe-inline';
font-src * data: blob: 'unsafe-inline';
frame-ancestors * data: blob: 'unsafe-inline';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
   <div>
    <nav class="navbar navbar-expand-lg justify-content-between mainNavBar">
        <a class="navbar-brand" href="/">
        IT BookStore
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa-solid fa-user"></i>
       
        </button>
        <div id="navbarText">
            <ul class="navbar-nav ml-auto">
                
            <li class="nav-item ml-3"><a href="/users/account/profile" class="btn">           
            <img src="/images/user.png" height="20px" width="20px"></a></li>
            <li class="nav-item" id="cart_btn"><a href="/users/cart" class="btn menu-btn">
             Cart <span class=""  id="cart-count"><img width="25px" height="25px" src="/images/cart.png"/></span></a></li>
            </ul>
        </div>
    </nav>
    <div class="site-overlay"></div>
                
    <div class="container-fluid content-body h-100" id="container">
        <div class="row">
            <nav id="navbarMenu" class="navbar-expand-lg navbar navbar-light bg-light navbarMenuWrapper col-sm-12">
    <div class="col-sm-8 offset-md-2 collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categoy
            </a>
            <% if(typeof categories == 'object' && categories){ %>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% categories.forEach(category => { %>
                        <a class="dropdown-item" href="/books?category=<%=category.id%>"><%=category.name%></a>
                     <% }) %> 
                </div>
              <% }  %>
           
          </li>
    </ul>
    <form class="form-inline ml-auto" action="/books", method="get">
        <div class="input-group">
            <input class="form-control" name="search" id="frm_search" type="search" placeholder="Search shop" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-outline-success" id="btn_search" type="submit">Search</button>
            </div>
        </div>
    </form>
    </div>
   </div>
