<%- include ('../partials/_header_cart.ejs')  %>
<div class="col-md-4 offset-md-4 top-pad-100">
    <form class="form-signin" action="/auth/register" id="form_register" method="post" role="form" data-toggle="validator" onsubmit="return validateForm(event)">
        <h2 class="form-signin-heading">Sign up</h2>
        <div class="form-group">
            <input type="text" id="email" name="email" class="form-control" placeholder="email" required autofocus>
        </div>
        <div class="form-group">
            <input type="text" id="fullname" name="fullname" class="form-control" placeholder="full name" required autofocus>
        </div>
        <div class="form-group">
            <input type="text" id="phone_number" name="phone_number" class="form-control" placeholder="phone number" required autofocus>
        </div>
        
        <div class="form-group">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group">
            <input type="password" id="comfirm_password" name="comfirm_password" class="form-control" placeholder="Comfirm password" required>
            <a href="/auth/login"> Have an account, login</a>
        </div>
      
            <%- include ('./errorMessage.ejs', message)  %>
      
        <button class="btn  btn-outline-primary btn-block" id="loginForm" type="submit">Sign up</button>
    </form>
   
    </div>
        <%- include ('../partials/_footer.ejs')  %>

<script>
    function validateForm(e){
      e.preventDefault();
      if($('#fullname').val() ==""||$('#email').val()==""|| $('#phone_number').val()=="") return $('#error').text('Please fill in')
      if($('#password').val()!=$('#confirm_password').val()) 
      return $('#error').text('The entered passwords do not match. Try again.')   
    }
    
</script>