<%- include ('../partials/_header_cart.ejs')  %>

            <div class="col-md-4 offset-md-4 top-pad-100">
                <form class="form-signin" action="/auth/setpassword"  method="post" role="form" data-toggle="validator">
    
                    <h2 class="form-signin-heading">Reset Password</h2>
                    <div class="form-group">
                        <input type="text" id="password" name="password" class="form-control" placeholder="password" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" id="confirm_password" name="confirm_password" class="form-control" placeholder="confirm password" required autofocus>
                    </div>
                    <button class="btn  btn-outline-primary btn-block" id="loginForm" type="submit">Reset</button>
                </form>
                </div>
        <%- include ('../partials/_footer.ejs')  %>